* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #953ee0;
  --secondary-color: #fff;
  --tertiary-color: #202230;
  --quaternary-color: #d0d2e0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template: auto 1fr auto / 300px 1fr;
  grid-template-areas:
    "nav-bar nav-bar"
    "side-bar app"
    "footer footer";
}

.footer a {
  color: var(--secondary-color);
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: var(--tertiary-color);
}

.nav-bar {
  grid-area: nav-bar;
  padding: 20px;
  text-align: center;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  position: sticky;
  top: 0;
}

.side-bar {
  position: sticky;
  top: 58px;
  height: calc(100vh - 58px);
  grid-area: side-bar;
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feed {
  padding: 20px;
  cursor: pointer;
}

.feed:hover {
  background-color: var(--quaternary-color);
}

.app {
  grid-area: app;
}

.footer {
  grid-area: footer;
  padding: 20px;
  text-align: center;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

.article-card {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  margin: 0 auto;
}

.article-card img {
  width: 250px;
  height: 200px;
}

@media screen and (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
  }

  .side-bar {
    position: fixed;
    width: 300px;
    display: none;
    background-color: var(--tertiary-color);
  }

  .side-bar a {
    color: var(--secondary-color);
  }

  .show {
    display: block;
  }
}
